.screen-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.screen-header__column:last-child i:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}
.naver__icon {
  background-color: white;
  font: 1.4rem Anton;
  border-radius: 50%;
  opacity: 0.8;
}
